# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build/

# Ignore local properties file (contains SDK path)
/local.properties

# Ignore generated IDE files
/.idea
*.iml

# Ignore keystore files
*.jks
*.keystore
app/deploy.keystore
app/keystore.properties
